$mainBackground: linear-gradient(135deg, #604176 0%,#5e2563 100%);
$cardBackground: linear-gradient(135deg, #d9dadb 0%,#c4c6c9 100%);
$cardBackgroundHover: linear-gradient(135deg, #d9dadb 0%,#949ba2 100%);

$textColorPrimary: #ffffff;
$textColorSecondary: #000;

$linkColor: #4078c0;

$boxShadow: 0px -5px 10px rgba(0,0,0, 0.25);

$cardFontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  